<html>
	<head>
		<title>Priority To-Do lists</title>
	</head>
	<body>
		<h1>Your Priority To-Do list</h1>
		<form method="POST" action="/">>
			<input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
			</br>
			</br>
			<label for="input01">Prioridade</br>
			<select id="input01" name="option_text" placeholder="Prioridade">
			<option value="Alta">Alta</option>
			<option value="Baixa">Baixa</option>
			<option value="Média">Média</option>
			</select>
			</label>
			{% csrf_token %}
		</form>
		<table id="id_list_table">
			{% for item in items %}
			<tr><td>{{ forloop.counter }}: {{ item.text }} - Prioridade {{item.prior}}</td></tr>
			{% endfor %}
			</table>
	</body>
</html>